.gym-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gyms-header {
    text-align: center;
}

.form-style {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
/* 
@media (min-width: 576px) {
    .gyms-header {
        display: none;
    }
} */